img{
    display:block;
    margin:auto;
}

div{
    text-align:center;
}

input {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(10, 13, 180);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }